# Improving Customer Experience of British Airways - Business Objective #3 

Business objective #3 for improving customer experience of British Airways is as follows - analysing review topics for the four different seat types for a more targeted marketing approach, improving business by 10%.

In this part of the project, topic modelling of customer reviews of their flight experiences will be done to sieve up areas of concern of customers to recommend to the airlines to better those aspects for a better flight experience for their customers. This would be done separately for the four groups - (1) economy, (2) premium economy, (3) business class and (4) first class.

In [1]:
# Importing relevant libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings as wr
import re

import pyLDAvis.gensim_models as gensimvis
import pyLDAvis

wr.filterwarnings('ignore')

import nltk
nltk.download('stopwords')
nltk.download('wordnet')

from nltk.corpus import stopwords
from nltk.stem.wordnet import WordNetLemmatizer
import gensim
from gensim import corpora
from nltk.tokenize import word_tokenize
from pprint import pprint

import gensim
from gensim import corpora

import string
from pathlib import Path
from pprint import pprint

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Carlin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Carlin\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

# Reading in source files from directory

In [2]:
# Read in preprocessed_data.csv and display the first 5 lines of the data
df = pd.read_csv("preprocessed_data.csv")
df.head(10)

,OverallRating,ReviewHeader,Name,Datetime,VerifiedReview,ReviewBody,TypeOfTraveller,SeatType,Route,DateFlown,...,Food&Beverages,InflightEntertainment,Wifi&Connectivity,CleanText,SpecialCharacters,Tokens,HyphenatedWords,Sentiment,Bigrams,Trigrams
0,1.0,"""Service level far worse then Ryanair""",L Keele,2023-11-19,True,4 Hours before takeoff we received a Mail stat...,Couple Leisure,Economy Class,London to Stuttgart,2023-11-01,...,NaN,NaN,NaN,hour takeoff received mail state cryptic messa...,[],"['hour', 'takeoff', 'received', 'mail', 'state...",[],-0.045588,"[('hour', 'takeoff'), ('takeoff', 'received'),...","[('hour', 'takeoff', 'received'), ('takeoff', ..."
1,3.0,"""do not upgrade members based on status""",Austin Jones,2023-11-19,True,I recently had a delay on British Airways from...,Business,Economy Class,Brussels to London,2023-11-01,...,1.0,2.0,2.0,recently delay bru lhr due staff shortage anno...,[],"['recently', 'delay', 'bru', 'lhr', 'due', 'st...",['world-class'],0.006944,"[('recently', 'delay'), ('delay', 'bru'), ('br...","[('recently', 'delay', 'bru'), ('delay', 'bru'..."
2,8.0,"""Flight was smooth and quick""",M A Collie,2023-11-16,False,"Boarded on time, but it took ages to get to th...",Couple Leisure,Business Class,London Heathrow to Dublin,2023-11-01,...,4.0,NaN,NaN,boarded time take age get runway due congestio...,[],"['boarded', 'time', 'take', 'age', 'get', 'run...",[],0.128030,"[('boarded', 'time'), ('time', 'take'), ('take...","[('boarded', 'time', 'take'), ('time', 'take',..."
3,1.0,"""Absolutely hopeless airline""",Nigel Dean,2023-11-16,True,"5 days before the flight, we were advised by B...",Couple Leisure,Economy Class,London to Dublin,2022-12-01,...,NaN,NaN,NaN,day advise cancelled ask rebook hour hour orig...,[],"['day', 'advise', 'cancelled', 'ask', 'rebook'...",[],0.113889,"[('day', 'advise'), ('advise', 'cancelled'), (...","[('day', 'advise', 'cancelled'), ('advise', 'c..."
4,1.0,"""Customer Service is non existent""",Gaylynne Simpson,2023-11-14,False,"We traveled to Lisbon for our dream vacation, ...",Couple Leisure,Economy Class,London to Lisbon,2023-11-01,...,1.0,1.0,1.0,travel lisbon dream vacation cruise portugal s...,[],"['travel', 'lisbon', 'dream', 'vacation', 'cru...",[],-0.073958,"[('travel', 'lisbon'), ('lisbon', 'dream'), ('...","[('travel', 'lisbon', 'dream'), ('lisbon', 'dr..."
5,1.0,"""I can’t imagine a worst airline""",A Narden,2023-11-12,True,Booked a flight from Bucharest to Manchester w...,Solo Leisure,Economy Class,Bucharest to Manchester via London,2023-09-01,...,1.0,1.0,NaN,book bucharest manchester layover heathrow del...,[],"['book', 'bucharest', 'manchester', 'layover',...",[],-0.243958,"[('book', 'bucharest'), ('bucharest', 'manches...","[('book', 'bucharest', 'manchester'), ('buchar..."
6,8.0,"""sufficient leg and arm room""",Graeme Boothman,2023-11-08,True,Booked online months ago and the only hitch wa...,Couple Leisure,Premium Economy,Manchester to Cape Town via London,2023-11-01,...,4.0,4.0,NaN,book online month ago hitch replacement meanin...,[],"['book', 'online', 'month', 'ago', 'hitch', 'r...",[],0.080565,"[('book', 'online'), ('online', 'month'), ('mo...","[('book', 'online', 'month'), ('online', 'mont..."
7,7.0,“crew were polite”,R Vines,2023-11-07,True,The flight was on time. The crew were polite. ...,Solo Leisure,Economy Class,Seville to London Gatwick,2023-11-01,...,3.0,NaN,NaN,time crew polite story outward europe generall...,[],"['time', 'crew', 'polite', 'story', 'outward',...",[],0.212500,"[('time', 'crew'), ('crew', 'polite'), ('polit...","[('time', 'crew', 'polite'), ('crew', 'polite'..."
8,2.0,"""Angry, disappointed, and unsatisfied""",Massimo Tricca,2023-11-05,False,"Angry, disappointed, and unsatisfied. My route...",Family Leisure,Economy Class,London Heatrow to Atlanta,2023-11-01,...,4.0,4.0,3.0,angry disappoint unsatisfied route london atla...,[],"['angry', 'disappoint', 'unsatisfied', 'route'...",[],0.024176,"[('angry', 'disappoint'), ('disappoint', 'unsa...","[('angry', 'disappoint', 'unsatisfied'), ('dis..."
9,3.0,"""BA now stands for Basic Airways""",J Kaye,2023-11-05,True,"As an infrequent flyer, British Airways was al...",Couple Leisure,Economy Class,Gatwick to Antalya,2023-10-01,...,1.0,1.0,1.0,infrequent flyer always first choice reassuran...,[],"['infrequent', 'flyer', 'always', 'first', 'ch...",[],0.087719,"[('infrequent', 'flyer'), ('flyer', 'always'),...","[('infrequent', 'flyer', 'always'), ('flyer', ..."

# 2. Data Preparation - Preprocessing 


In addition to the earlier cleaning as a group which included (1) Case converter - convert to lower case, (2) Punctuation erasure, (3) Number filter, (4) Stop word filter, (5) N-chars set to 3: removal of tokens less than 3 chars and (6) removal of specific POS through POS tagging, further customsised preprocessing is done for business objective 3.

This will include (1) Cleaning of bigram and ngram columns for our analysis purposes, and (2) dropping of irrelevant columns and splitting the dataset by seat types (economy, premium economy, business class and first class).

In [3]:
# Dropping irrelevant columns for analysis
df_cleaned = df.drop(columns=['ReviewHeader', 'Datetime', 'ReviewBody', 'SpecialCharacters', 'HyphenatedWords', 
                              'OverallRating', 'Name', 'VerifiedReview', 'TypeOfTraveller', 'Route', 'DateFlown', 
                              'SeatComfort', 'CabinStaffService', 'GroundService', 'ValueForMoney', 'Aircraft', 
                              'Food&Beverages', 'InflightEntertainment', 'Wifi&Connectivity'])

In [4]:
# Tokenize the CLeanText column for further analysis later and create another column named 'CleanText2'

from nltk.tokenize import word_tokenize

# Tokenize the 'CleanText' column and keep results in new columns 'CleanText2'
df_cleaned['CleanText2'] = df_cleaned['CleanText'].apply(word_tokenize)

# Display the first few rows to confirm the tokenized output
print(df_cleaned[['CleanText', 'CleanText2']].head())

                                           CleanText  \
0  hour takeoff received mail state cryptic messa...
1  recently delay bru lhr due staff shortage anno...
2  boarded time take age get runway due congestio...
3  day advise cancelled ask rebook hour hour orig...
4  travel lisbon dream vacation cruise portugal s...

                                          CleanText2
0  [hour, takeoff, received, mail, state, cryptic...
1  [recently, delay, bru, lhr, due, staff, shorta...
2  [boarded, time, take, age, get, runway, due, c...
3  [day, advise, cancelled, ask, rebook, hour, ho...
4  [travel, lisbon, dream, vacation, cruise, port...

In [5]:
# Defining additional stop words
additional_stop = {"economy", "premium", "class", "first", "business"}

# Removing from the CleanText2 column
df_cleaned['CleanText2'] = df_cleaned['CleanText2'].apply(lambda tokens: [word for word in tokens if word.lower() not in additional_stop])

print(df_cleaned[['CleanText', 'CleanText2']].head())

                                           CleanText  \
0  hour takeoff received mail state cryptic messa...
1  recently delay bru lhr due staff shortage anno...
2  boarded time take age get runway due congestio...
3  day advise cancelled ask rebook hour hour orig...
4  travel lisbon dream vacation cruise portugal s...

                                          CleanText2
0  [hour, takeoff, received, mail, state, cryptic...
1  [recently, delay, bru, lhr, due, staff, shorta...
2  [boarded, time, take, age, get, runway, due, c...
3  [day, advise, cancelled, ask, rebook, hour, ho...
4  [travel, lisbon, dream, vacation, cruise, port...

In [6]:
# View cleaned DataFrame
df_cleaned.head(10)

,SeatType,Recommended,CleanText,Tokens,Sentiment,Bigrams,Trigrams,CleanText2
0,Economy Class,no,hour takeoff received mail state cryptic messa...,"['hour', 'takeoff', 'received', 'mail', 'state...",-0.045588,"[('hour', 'takeoff'), ('takeoff', 'received'),...","[('hour', 'takeoff', 'received'), ('takeoff', ...","[hour, takeoff, received, mail, state, cryptic..."
1,Economy Class,no,recently delay bru lhr due staff shortage anno...,"['recently', 'delay', 'bru', 'lhr', 'due', 'st...",0.006944,"[('recently', 'delay'), ('delay', 'bru'), ('br...","[('recently', 'delay', 'bru'), ('delay', 'bru'...","[recently, delay, bru, lhr, due, staff, shorta..."
2,Business Class,yes,boarded time take age get runway due congestio...,"['boarded', 'time', 'take', 'age', 'get', 'run...",0.128030,"[('boarded', 'time'), ('time', 'take'), ('take...","[('boarded', 'time', 'take'), ('time', 'take',...","[boarded, time, take, age, get, runway, due, c..."
3,Economy Class,no,day advise cancelled ask rebook hour hour orig...,"['day', 'advise', 'cancelled', 'ask', 'rebook'...",0.113889,"[('day', 'advise'), ('advise', 'cancelled'), (...","[('day', 'advise', 'cancelled'), ('advise', 'c...","[day, advise, cancelled, ask, rebook, hour, ho..."
4,Economy Class,no,travel lisbon dream vacation cruise portugal s...,"['travel', 'lisbon', 'dream', 'vacation', 'cru...",-0.073958,"[('travel', 'lisbon'), ('lisbon', 'dream'), ('...","[('travel', 'lisbon', 'dream'), ('lisbon', 'dr...","[travel, lisbon, dream, vacation, cruise, port..."
5,Economy Class,no,book bucharest manchester layover heathrow del...,"['book', 'bucharest', 'manchester', 'layover',...",-0.243958,"[('book', 'bucharest'), ('bucharest', 'manches...","[('book', 'bucharest', 'manchester'), ('buchar...","[book, bucharest, manchester, layover, heathro..."
6,Premium Economy,yes,book online month ago hitch replacement meanin...,"['book', 'online', 'month', 'ago', 'hitch', 'r...",0.080565,"[('book', 'online'), ('online', 'month'), ('mo...","[('book', 'online', 'month'), ('online', 'mont...","[book, online, month, ago, hitch, replacement,..."
7,Economy Class,yes,time crew polite story outward europe generall...,"['time', 'crew', 'polite', 'story', 'outward',...",0.212500,"[('time', 'crew'), ('crew', 'polite'), ('polit...","[('time', 'crew', 'polite'), ('crew', 'polite'...","[time, crew, polite, story, outward, europe, g..."
8,Economy Class,yes,angry disappoint unsatisfied route london atla...,"['angry', 'disappoint', 'unsatisfied', 'route'...",0.024176,"[('angry', 'disappoint'), ('disappoint', 'unsa...","[('angry', 'disappoint', 'unsatisfied'), ('dis...","[angry, disappoint, unsatisfied, route, london..."
9,Economy Class,no,infrequent flyer always first choice reassuran...,"['infrequent', 'flyer', 'always', 'first', 'ch...",0.087719,"[('infrequent', 'flyer'), ('flyer', 'always'),...","[('infrequent', 'flyer', 'always'), ('flyer', ...","[infrequent, flyer, always, choice, reassuranc..."

# 2a) Splitting the dataset by SeatType

Creating separate dataframes for each seat types for analysis.

In [7]:
def filter_and_reset(df, seat_type):
    return df[df['SeatType'] == seat_type].reset_index(drop=True)

economy_df = filter_and_reset(df_cleaned, 'Economy Class')
premium_economy_df = filter_and_reset(df_cleaned, 'Premium Economy')
business_class_df = filter_and_reset(df_cleaned, 'Business Class')
first_class_df = filter_and_reset(df_cleaned, 'First Class')

In [8]:
# test print 
print(economy_df.head())
print(premium_economy_df.head())
print(business_class_df.head())
print(first_class_df.head())

        SeatType Recommended  \
0  Economy Class          no
1  Economy Class          no
2  Economy Class          no
3  Economy Class          no
4  Economy Class          no

                                           CleanText  \
0  hour takeoff received mail state cryptic messa...
1  recently delay bru lhr due staff shortage anno...
2  day advise cancelled ask rebook hour hour orig...
3  travel lisbon dream vacation cruise portugal s...
4  book bucharest manchester layover heathrow del...

                                              Tokens  Sentiment  \
0  ['hour', 'takeoff', 'received', 'mail', 'state...  -0.045588
1  ['recently', 'delay', 'bru', 'lhr', 'due', 'st...   0.006944
2  ['day', 'advise', 'cancelled', 'ask', 'rebook'...   0.113889
3  ['travel', 'lisbon', 'dream', 'vacation', 'cru...  -0.073958
4  ['book', 'bucharest', 'manchester', 'layover',...  -0.243958

                                             Bigrams  \
0  [('hour', 'takeoff'), ('takeoff', 'received'),...
1  [('recently', 'delay'), ('delay', 'bru'), ('br...
2  [('day', 'advise'), ('advise', 'cancelled'), (...
3  [('travel', 'lisbon'), ('lisbon', 'dream'), ('...
4  [('book', 'bucharest'), ('bucharest', 'manches...

                                            Trigrams  \
0  [('hour', 'takeoff', 'received'), ('takeoff', ...
1  [('recently', 'delay', 'bru'), ('delay', 'bru'...
2  [('day', 'advise', 'cancelled'), ('advise', 'c...
3  [('travel', 'lisbon', 'dream'), ('lisbon', 'dr...
4  [('book', 'bucharest', 'manchester'), ('buchar...

                                          CleanText2
0  [hour, takeoff, received, mail, state, cryptic...
1  [recently, delay, bru, lhr, due, staff, shorta...
2  [day, advise, cancelled, ask, rebook, hour, ho...
3  [travel, lisbon, dream, vacation, cruise, port...
4  [book, bucharest, manchester, layover, heathro...
          SeatType Recommended  \
0  Premium Economy         yes
1  Premium Economy          no
2  Premium Economy          no
3  Premium Economy          no
4  Premium Economy          no

                                           CleanText  \
0  book online month ago hitch replacement meanin...
1  initial cancel hour prior automatically resche...
2  care support shock write previously loyal trav...
3  express displeasure concern regard italy trip ...
4  family fly mostly last year priority passenger...

                                              Tokens  Sentiment  \
0  ['book', 'online', 'month', 'ago', 'hitch', 'r...   0.080565
1  ['initial', 'cancel', 'hour', 'prior', 'automa...  -0.053022
2  ['care', 'support', 'shock', 'write', 'previou...   0.066667
3  ['express', 'displeasure', 'concern', 'regard'...   0.105667
4  ['family', 'fly', 'mostly', 'last', 'year', 'p...   0.125269

                                             Bigrams  \
0  [('book', 'online'), ('online', 'month'), ('mo...
1  [('initial', 'cancel'), ('cancel', 'hour'), ('...
2  [('care', 'support'), ('support', 'shock'), ('...
3  [('express', 'displeasure'), ('displeasure', '...
4  [('family', 'fly'), ('fly', 'mostly'), ('mostl...

                                            Trigrams  \
0  [('book', 'online', 'month'), ('online', 'mont...
1  [('initial', 'cancel', 'hour'), ('cancel', 'ho...
2  [('care', 'support', 'shock'), ('support', 'sh...
3  [('express', 'displeasure', 'concern'), ('disp...
4  [('family', 'fly', 'mostly'), ('fly', 'mostly'...

                                          CleanText2
0  [book, online, month, ago, hitch, replacement,...
1  [initial, cancel, hour, prior, automatically, ...
2  [care, support, shock, write, previously, loya...
3  [express, displeasure, concern, regard, italy,...
4  [family, fly, mostly, last, year, priority, pa...
         SeatType Recommended  \
0  Business Class         yes
1  Business Class         yes
2  Business Class          no
3  Business Class          no
4  Business Class          no

                                           CleanText  \
0  boarded time take age get runway due congestio...
1  totally unremarkable time comfortable european...
2  flew istanbul london business class half child...
3  porto london heathrow operate finnair use finn...
4  frequent flyer last year note rating give fran...

                                              Tokens  Sentiment  \
0  ['boarded', 'time', 'take', 'age', 'get', 'run...   0.128030
1  ['totally', 'unremarkable', 'time', 'comfortab...  -0.073611
2  ['flew', 'istanbul', 'london', 'business', 'cl...  -0.009141
3  ['porto', 'london', 'heathrow', 'operate', 'fi...   0.110682
4  ['frequent', 'flyer', 'last', 'year', 'note', ...   0.168056

                                             Bigrams  \
0  [('boarded', 'time'), ('time', 'take'), ('take...
1  [('totally', 'unremarkable'), ('unremarkable',...
2  [('flew', 'istanbul'), ('istanbul', 'london'),...
3  [('porto', 'london'), ('london', 'heathrow'), ...
4  [('frequent', 'flyer'), ('flyer', 'last'), ('l...

                                            Trigrams  \
0  [('boarded', 'time', 'take'), ('time', 'take',...
1  [('totally', 'unremarkable', 'time'), ('unrema...
2  [('flew', 'istanbul', 'london'), ('istanbul', ...
3  [('porto', 'london', 'heathrow'), ('london', '...
4  [('frequent', 'flyer', 'last'), ('flyer', 'las...

                                          CleanText2
0  [boarded, time, take, age, get, runway, due, c...
1  [totally, unremarkable, time, comfortable, eur...
2  [flew, istanbul, london, half, child, watch, i...
3  [porto, london, heathrow, operate, finnair, us...
4  [frequent, flyer, last, year, note, rating, gi...
      SeatType Recommended                                          CleanText  \
0  First Class         yes  excellent service level proactive crew superb ...
1  First Class          no  airplane lounge wear old broken dallas heathro...
2  First Class          no  late affront stand first class line hour final...
3  First Class         yes  excellent service ground board first class pro...
4  First Class          no  shamble start well excellent check first mid a...

                                              Tokens  Sentiment  \
0  ['excellent', 'service', 'level', 'proactive',...   0.349883
1  ['airplane', 'lounge', 'wear', 'old', 'broken'...  -0.067500
2  ['late', 'affront', 'stand', 'first', 'class',...   0.182857
3  ['excellent', 'service', 'ground', 'board', 'f...   0.311905
4  ['shamble', 'start', 'well', 'excellent', 'che...   0.186957

                                             Bigrams  \
0  [('excellent', 'service'), ('service', 'level'...
1  [('airplane', 'lounge'), ('lounge', 'wear'), (...
2  [('late', 'affront'), ('affront', 'stand'), ('...
3  [('excellent', 'service'), ('service', 'ground...
4  [('shamble', 'start'), ('start', 'well'), ('we...

                                            Trigrams  \
0  [('excellent', 'service', 'level'), ('service'...
1  [('airplane', 'lounge', 'wear'), ('lounge', 'w...
2  [('late', 'affront', 'stand'), ('affront', 'st...
3  [('excellent', 'service', 'ground'), ('service...
4  [('shamble', 'start', 'well'), ('start', 'well...

                                          CleanText2
0  [excellent, service, level, proactive, crew, s...
1  [airplane, lounge, wear, old, broken, dallas, ...
2  [late, affront, stand, line, hour, finally, fr...
3  [excellent, service, ground, board, product, m...
4  [shamble, start, well, excellent, check, mid, ...

# 2b) Creating TF-IDF vectorizer for each SeatType

In [9]:
import pandas as pd
import gensim
from gensim import corpora
from gensim.models import TfidfModel

# Build the dictionary (CleanText2 for tokenised)
mydict = corpora.Dictionary(df_cleaned['CleanText2'])
vocab_len = len(mydict)
corpus = [mydict.doc2bow(tokens) for tokens in df_cleaned['CleanText2']]
tfidf_model = TfidfModel(corpus)

def get_tfidf_features(df_cleaned, column_name='CleanText2'):
    def process_row(tokens):
        doc = mydict.doc2bow(tokens)
        # Converting the tokens into the format that the model requires
        features = gensim.matutils.corpus2csc([tfidf_model[doc]], num_terms=vocab_len).toarray()[:,0]
        return features
    
    # Generate TF-IDF features
    return pd.DataFrame([process_row(tokens) for tokens in df_cleaned[column_name]], 
                        index=df_cleaned.index,
                        columns=[mydict[i] for i in range(vocab_len)])

# Applying TF-IDF to each seat type
def apply_tfidf_to_all_seat_types():
    tfidf_dfs = {}
    
    seat_types = {
        'Economy Class': economy_df,
        'Premium Economy Class': premium_economy_df,
        'Business Class': business_class_df,
        'First Class': first_class_df
    }
    
    for seat_type, df in seat_types.items():
        print(f"Generating TF-IDF features for {seat_type}")
        tfidf_df = get_tfidf_features(df, 'CleanText2')
        tfidf_dfs[seat_type] = tfidf_df
        print(tfidf_df.head())
    return tfidf_dfs

# Generate TF-IDFs for all seat types
tfidf_features_all = apply_tfidf_to_all_seat_types()

Generating TF-IDF features for Economy Class
    airport    anyhow     avoid       bad  capacity     check   cryptic  \
0  0.067140  0.241413  0.103781  0.065405  0.191424  0.104833  0.278865
1  0.000000  0.000000  0.000000  0.051152  0.000000  0.000000  0.000000
2  0.000000  0.000000  0.000000  0.050328  0.000000  0.161334  0.000000
3  0.109771  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
4  0.118266  0.000000  0.000000  0.057605  0.000000  0.000000  0.000000

      delay  departure  disruption  ...  lhrjfklaxlhr  presuming  polystyrene  \
0  0.060731   0.084876    0.231605  ...           0.0        0.0          0.0
1  0.189988   0.000000    0.000000  ...           0.0        0.0          0.0
2  0.000000   0.000000    0.000000  ...           0.0        0.0          0.0
3  0.000000   0.000000    0.000000  ...           0.0        0.0          0.0
4  0.106976   0.000000    0.000000  ...           0.0        0.0          0.0

   installed  grimace  citynew  inconveniently  quintessentially  sellby  \
0        0.0      0.0      0.0             0.0               0.0     0.0
1        0.0      0.0      0.0             0.0               0.0     0.0
2        0.0      0.0      0.0             0.0               0.0     0.0
3        0.0      0.0      0.0             0.0               0.0     0.0
4        0.0      0.0      0.0             0.0               0.0     0.0

   sinlhr
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0

[5 rows x 11306 columns]
Generating TF-IDF features for Premium Economy Class
    airport  anyhow     avoid       bad  capacity     check  cryptic  \
0  0.000000     0.0  0.000000  0.000000       0.0  0.000000      0.0
1  0.000000     0.0  0.093697  0.000000       0.0  0.000000      0.0
2  0.079437     0.0  0.000000  0.000000       0.0  0.062017      0.0
3  0.000000     0.0  0.000000  0.000000       0.0  0.024255      0.0
4  0.000000     0.0  0.000000  0.043331       0.0  0.069453      0.0

      delay  departure  disruption  ...  lhrjfklaxlhr  presuming  polystyrene  \
0  0.051857   0.072474         0.0  ...           0.0        0.0          0.0
1  0.054830   0.000000         0.0  ...           0.0        0.0          0.0
2  0.000000   0.000000         0.0  ...           0.0        0.0          0.0
3  0.028102   0.039275         0.0  ...           0.0        0.0          0.0
4  0.000000   0.000000         0.0  ...           0.0        0.0          0.0

   installed  grimace  citynew  inconveniently  quintessentially  sellby  \
0        0.0      0.0      0.0             0.0               0.0     0.0
1        0.0      0.0      0.0             0.0               0.0     0.0
2        0.0      0.0      0.0             0.0               0.0     0.0
3        0.0      0.0      0.0             0.0               0.0     0.0
4        0.0      0.0      0.0             0.0               0.0     0.0

   sinlhr
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0

[5 rows x 11306 columns]
Generating TF-IDF features for Business Class
   airport  anyhow  avoid       bad  capacity  check  cryptic     delay  \
0      0.0     0.0    0.0  0.000000  0.000000    0.0      0.0  0.000000
1      0.0     0.0    0.0  0.000000  0.000000    0.0      0.0  0.000000
2      0.0     0.0    0.0  0.138867  0.000000    0.0      0.0  0.000000
3      0.0     0.0    0.0  0.000000  0.000000    0.0      0.0  0.049525
4      0.0     0.0    0.0  0.000000  0.098641    0.0      0.0  0.000000

   departure  disruption  ...  lhrjfklaxlhr  presuming  polystyrene  \
0        0.0         0.0  ...           0.0        0.0          0.0
1        0.0         0.0  ...           0.0        0.0          0.0
2        0.0         0.0  ...           0.0        0.0          0.0
3        0.0         0.0  ...           0.0        0.0          0.0
4        0.0         0.0  ...           0.0        0.0          0.0

   installed  grimace  citynew  inconveniently  quintessentially  sellby  \
0        0.0      0.0      0.0             0.0               0.0     0.0
1        0.0      0.0      0.0             0.0               0.0     0.0
2        0.0      0.0      0.0             0.0               0.0     0.0
3        0.0      0.0      0.0             0.0               0.0     0.0
4        0.0      0.0      0.0             0.0               0.0     0.0

   sinlhr
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0

[5 rows x 11306 columns]
Generating TF-IDF features for First Class
   airport  anyhow     avoid  bad  capacity     check  cryptic     delay  \
0      0.0     0.0  0.000000  0.0       0.0  0.000000      0.0  0.000000
1      0.0     0.0  0.000000  0.0       0.0  0.000000      0.0  0.000000
2      0.0     0.0  0.000000  0.0       0.0  0.000000      0.0  0.000000
3      0.0     0.0  0.000000  0.0       0.0  0.000000      0.0  0.112224
4      0.0     0.0  0.058702  0.0       0.0  0.029649      0.0  0.000000

   departure  disruption  ...  lhrjfklaxlhr  presuming  polystyrene  \
0        0.0         0.0  ...           0.0        0.0          0.0
1        0.0         0.0  ...           0.0        0.0          0.0
2        0.0         0.0  ...           0.0        0.0          0.0
3        0.0         0.0  ...           0.0        0.0          0.0
4        0.0         0.0  ...           0.0        0.0          0.0

   installed  grimace  citynew  inconveniently  quintessentially  sellby  \
0        0.0      0.0      0.0             0.0               0.0     0.0
1        0.0      0.0      0.0             0.0               0.0     0.0
2        0.0      0.0      0.0             0.0               0.0     0.0
3        0.0      0.0      0.0             0.0               0.0     0.0
4        0.0      0.0      0.0             0.0               0.0     0.0

   sinlhr
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0

[5 rows x 11306 columns]

# 3) Creating the LDA Model for topic analysis and analysing alongside bigrams and trigrams

LDA Model is created to identify the common topics mentioned by customers for each seat type. With the top topics generated for each seat type, top bigrams/trigrams will then be analysed alongside as well. Thereafter, bigrams/trigrams generated containing the most common topcis will be generated.

# 3a) Creating LDA modelling for topic analysis of each Seat Type

Creating the LDA model for the "Economy Class" to identify top topics of interest

In [10]:
# LDA Model for Economy Class
topic_num = 20
word_num = 10

# Use the tokenized reviews in the CleanText2 column
tokenized_reviews_EC = economy_df['CleanText2']

# Creating dictionary and document-term matrix
dictionary = gensim.corpora.Dictionary(tokenized_reviews_EC)
doc_term_matrix = [dictionary.doc2bow(doc) for doc in tokenized_reviews_EC]

# Creating the LDA model
Lda = gensim.models.ldamodel.LdaModel
ldamodel = Lda(doc_term_matrix, num_topics=topic_num, id2word=dictionary, passes=20)

# Printing the topics
pprint(ldamodel.print_topics(num_topics=topic_num, num_words=word_num))

[(0,
  '0.028*"seat" + 0.012*"cabin" + 0.011*"heathrow" + 0.010*"london" + '
  '0.010*"crew" + 0.009*"fly" + 0.009*"service" + 0.009*"time" + 0.009*"meal" '
  '+ 0.008*"food"'),
 (1,
  '0.012*"heathrow" + 0.011*"fly" + 0.011*"hour" + 0.011*"seat" + '
  '0.011*"service" + 0.010*"staff" + 0.010*"make" + 0.009*"would" + '
  '0.009*"travel" + 0.008*"london"'),
 (2,
  '0.018*"seat" + 0.011*"cabin" + 0.011*"fly" + 0.011*"service" + 0.010*"time" '
  '+ 0.010*"good" + 0.010*"food" + 0.009*"crew" + 0.008*"london" + '
  '0.008*"well"'),
 (3,
  '0.020*"get" + 0.018*"hour" + 0.014*"customer" + 0.013*"tell" + 0.012*"day" '
  '+ 0.012*"would" + 0.010*"london" + 0.010*"service" + 0.009*"book" + '
  '0.009*"back"'),
 (4,
  '0.033*"seat" + 0.020*"good" + 0.015*"crew" + 0.014*"cabin" + 0.014*"food" + '
  '0.013*"service" + 0.011*"london" + 0.010*"fly" + 0.009*"entertainment" + '
  '0.008*"great"'),
 (5,
  '0.007*"seat" + 0.007*"hour" + 0.006*"time" + 0.006*"food" + 0.005*"london" '
  '+ 0.005*"cost" + 0.005*"leg" + 0.005*"low" + 0.005*"heathrow" + '
  '0.005*"escalator"'),
 (6,
  '0.031*"seat" + 0.011*"pay" + 0.011*"london" + 0.010*"get" + 0.009*"time" + '
  '0.009*"would" + 0.009*"book" + 0.009*"food" + 0.008*"extra" + 0.007*"fly"'),
 (7,
  '0.013*"seat" + 0.011*"senior" + 0.010*"one" + 0.009*"staff" + 0.009*"ask" + '
  '0.008*"get" + 0.008*"go" + 0.007*"assistance" + 0.006*"child" + '
  '0.005*"infant"'),
 (8,
  '0.016*"seat" + 0.010*"drink" + 0.008*"crew" + 0.008*"staff" + 0.008*"food" '
  '+ 0.008*"get" + 0.008*"board" + 0.008*"meal" + 0.006*"passenger" + '
  '0.006*"cabin"'),
 (9,
  '0.010*"food" + 0.009*"seat" + 0.009*"london" + 0.009*"get" + '
  '0.008*"service" + 0.008*"even" + 0.008*"offer" + 0.008*"fly" + 0.007*"meal" '
  '+ 0.007*"time"'),
 (10,
  '0.022*"food" + 0.019*"crew" + 0.013*"drink" + 0.012*"seat" + '
  '0.011*"service" + 0.010*"london" + 0.010*"time" + 0.009*"screen" + '
  '0.009*"cabin" + 0.008*"back"'),
 (11,
  '0.014*"good" + 0.012*"seat" + 0.011*"board" + 0.010*"delay" + 0.010*"time" '
  '+ 0.010*"hour" + 0.010*"get" + 0.010*"staff" + 0.009*"heathrow" + '
  '0.009*"late"'),
 (12,
  '0.009*"london" + 0.009*"back" + 0.008*"fly" + 0.008*"never" + 0.007*"get" + '
  '0.007*"use" + 0.006*"staff" + 0.006*"luggage" + 0.006*"still" + '
  '0.006*"ticket"'),
 (13,
  '0.044*"seat" + 0.012*"crew" + 0.010*"time" + 0.010*"get" + 0.010*"cabin" + '
  '0.010*"hour" + 0.009*"fly" + 0.008*"service" + 0.008*"front" + '
  '0.007*"would"'),
 (14,
  '0.020*"seat" + 0.018*"service" + 0.016*"crew" + 0.014*"time" + 0.014*"good" '
  '+ 0.012*"board" + 0.012*"drink" + 0.010*"heathrow" + 0.009*"full" + '
  '0.009*"cabin"'),
 (15,
  '0.013*"meal" + 0.010*"offer" + 0.009*"get" + 0.007*"water" + 0.006*"pay" + '
  '0.006*"one" + 0.006*"return" + 0.006*"come" + 0.006*"say" + 0.005*"london"'),
 (16,
  '0.014*"check" + 0.012*"service" + 0.011*"pay" + 0.010*"bag" + 0.010*"cabin" '
  '+ 0.009*"food" + 0.008*"seat" + 0.008*"staff" + 0.008*"crew" + '
  '0.008*"time"'),
 (17,
  '0.017*"crew" + 0.017*"delay" + 0.015*"time" + 0.014*"service" + '
  '0.014*"board" + 0.012*"good" + 0.010*"food" + 0.010*"staff" + 0.010*"cabin" '
  '+ 0.009*"make"'),
 (18,
  '0.016*"call" + 0.015*"airport" + 0.015*"get" + 0.015*"luggage" + '
  '0.013*"time" + 0.012*"check" + 0.010*"tell" + 0.010*"hour" + 0.010*"london" '
  '+ 0.009*"take"'),
 (19,
  '0.018*"time" + 0.014*"service" + 0.011*"customer" + 0.011*"try" + '
  '0.010*"call" + 0.008*"even" + 0.007*"fly" + 0.007*"lounge" + 0.007*"get" + '
  '0.006*"last"')]

# Computing perplexity and coherence scores to pick best number of topics

For this portion, I had tested for topic numbers between 5 to 30, and it was found that for topic number 20, it had the lowest scores for perplexity and highest scores for coherence. Hence, topic_num = 20 was chosen.

In [11]:
#compute perplexity 
print('Perplexity: ', ldamodel.log_perplexity(doc_term_matrix))

Perplexity:  -7.5330971965750235

In [12]:
#compute coherence 

from gensim.models.coherencemodel import CoherenceModel

Coherence_Model = CoherenceModel(model=ldamodel, corpus=doc_term_matrix,coherence='u_mass')
Coherence_Model.get_coherence()

-1.5135620403198233

Creating the LDA model for the "Premium Economy" class to identify top topics of interest

In [13]:
# LDA Model for Premium Economy Class
topic_num = 20
word_num = 10

# Use the tokenized reviews in the CleanText2 column
tokenized_reviews_PE = premium_economy_df['CleanText2']

# Creating dictionary and document-term matrix
dictionary = gensim.corpora.Dictionary(tokenized_reviews_PE)
doc_term_matrix = [dictionary.doc2bow(doc) for doc in tokenized_reviews_PE]

# Creating the LDA model
Lda = gensim.models.ldamodel.LdaModel
ldamodel = Lda(doc_term_matrix, num_topics=topic_num, id2word=dictionary, passes=20)

# Printing the topics
pprint(ldamodel.print_topics(num_topics=topic_num, num_words=word_num))

[(0,
  '0.019*"seat" + 0.017*"service" + 0.014*"staff" + 0.012*"cabin" + '
  '0.011*"traveller" + 0.009*"would" + 0.009*"world" + 0.009*"food" + '
  '0.008*"fly" + 0.007*"time"'),
 (1,
  '0.019*"seat" + 0.013*"would" + 0.012*"food" + 0.012*"meal" + '
  '0.009*"experience" + 0.008*"good" + 0.008*"crew" + 0.007*"product" + '
  '0.007*"window" + 0.007*"get"'),
 (2,
  '0.016*"crew" + 0.014*"good" + 0.012*"food" + 0.012*"cabin" + '
  '0.012*"service" + 0.011*"drink" + 0.011*"seat" + 0.010*"offer" + '
  '0.009*"meal" + 0.009*"one"'),
 (3,
  '0.016*"seat" + 0.012*"get" + 0.011*"singapore" + 0.011*"service" + '
  '0.011*"bottle" + 0.008*"staff" + 0.008*"baby" + 0.008*"london" + '
  '0.008*"time" + 0.008*"year"'),
 (4,
  '0.030*"seat" + 0.013*"cabin" + 0.012*"world" + 0.011*"good" + '
  '0.010*"traveller" + 0.010*"get" + 0.010*"leg" + 0.010*"long" + 0.008*"meal" '
  '+ 0.008*"much"'),
 (5,
  '0.013*"get" + 0.013*"london" + 0.012*"fly" + 0.011*"seat" + 0.011*"service" '
  '+ 0.010*"book" + 0.007*"pay" + 0.007*"even" + 0.007*"would" + 0.006*"one"'),
 (6,
  '0.016*"good" + 0.014*"seat" + 0.013*"food" + 0.011*"check" + 0.011*"staff" '
  '+ 0.010*"return" + 0.009*"fly" + 0.008*"service" + 0.008*"world" + '
  '0.008*"crew"'),
 (7,
  '0.026*"service" + 0.012*"pay" + 0.012*"customer" + 0.011*"seat" + '
  '0.010*"upgrade" + 0.009*"get" + 0.009*"hour" + 0.008*"would" + '
  '0.008*"staff" + 0.007*"cabin"'),
 (8,
  '0.026*"seat" + 0.011*"good" + 0.010*"back" + 0.010*"hour" + 0.009*"get" + '
  '0.009*"food" + 0.008*"service" + 0.007*"would" + 0.006*"london" + '
  '0.006*"book"'),
 (9,
  '0.013*"fly" + 0.010*"crew" + 0.010*"service" + 0.009*"good" + 0.009*"food" '
  '+ 0.008*"cabin" + 0.008*"london" + 0.008*"well" + 0.008*"back" + '
  '0.008*"board"'),
 (10,
  '0.019*"staff" + 0.012*"service" + 0.012*"get" + 0.010*"good" + 0.009*"leg" '
  '+ 0.009*"time" + 0.008*"seat" + 0.008*"bad" + 0.008*"hour" + 0.007*"make"'),
 (11,
  '0.011*"heathrow" + 0.011*"would" + 0.010*"delay" + 0.010*"attendant" + '
  '0.010*"time" + 0.009*"hour" + 0.009*"tea" + 0.009*"service" + 0.008*"ask" + '
  '0.008*"departure"'),
 (12,
  '0.016*"london" + 0.014*"seat" + 0.010*"food" + 0.010*"fly" + 0.009*"time" + '
  '0.009*"hour" + 0.008*"return" + 0.008*"get" + 0.008*"one" + 0.008*"year"'),
 (13,
  '0.014*"seat" + 0.012*"give" + 0.010*"good" + 0.010*"change" + 0.010*"world" '
  '+ 0.009*"extra" + 0.009*"staff" + 0.009*"make" + 0.008*"book" + '
  '0.008*"dinner"'),
 (14,
  '0.020*"seat" + 0.018*"service" + 0.012*"staff" + 0.009*"extra" + '
  '0.009*"london" + 0.008*"good" + 0.008*"cabin" + 0.008*"fly" + 0.007*"food" '
  '+ 0.007*"get"'),
 (15,
  '0.011*"make" + 0.010*"seat" + 0.010*"good" + 0.009*"time" + 0.008*"service" '
  '+ 0.008*"food" + 0.008*"london" + 0.007*"delay" + 0.007*"board" + '
  '0.006*"old"'),
 (16,
  '0.016*"seat" + 0.013*"service" + 0.011*"food" + 0.010*"virgin" + '
  '0.009*"time" + 0.008*"board" + 0.008*"juice" + 0.008*"small" + 0.007*"meal" '
  '+ 0.006*"toilet"'),
 (17,
  '0.015*"good" + 0.014*"service" + 0.012*"world" + 0.012*"seat" + '
  '0.010*"board" + 0.009*"london" + 0.008*"cabin" + 0.007*"return" + '
  '0.007*"drink" + 0.007*"time"'),
 (18,
  '0.024*"seat" + 0.020*"get" + 0.018*"call" + 0.010*"try" + 0.009*"customer" '
  '+ 0.008*"pay" + 0.008*"food" + 0.007*"tell" + 0.007*"book" + 0.007*"fly"'),
 (19,
  '0.020*"seat" + 0.015*"fly" + 0.010*"food" + 0.009*"good" + 0.009*"service" '
  '+ 0.009*"cabin" + 0.009*"hour" + 0.008*"get" + 0.008*"crew" + 0.008*"year"')]

Creating the LDA model for the "Business Class" to identify top topics of interest

In [14]:
# LDA Model for Business Class
topic_num = 20
word_num = 10

# Use the tokenized reviews in the CleanText2 column
tokenized_reviews_BC = business_class_df['CleanText2']

# Creating dictionary and document-term matrix
dictionary = gensim.corpora.Dictionary(tokenized_reviews_BC)
doc_term_matrix = [dictionary.doc2bow(doc) for doc in tokenized_reviews_BC]

# Creating the LDA model
Lda = gensim.models.ldamodel.LdaModel
ldamodel = Lda(doc_term_matrix, num_topics=topic_num, id2word=dictionary, passes=20)

# Printing the topics
pprint(ldamodel.print_topics(num_topics=topic_num, num_words=word_num))

[(0,
  '0.013*"seat" + 0.010*"fly" + 0.010*"offer" + 0.009*"food" + 0.009*"club" + '
  '0.009*"staff" + 0.008*"new" + 0.008*"europe" + 0.007*"hour" + '
  '0.007*"experience"'),
 (1,
  '0.014*"seat" + 0.011*"new" + 0.011*"london" + 0.010*"even" + 0.010*"crew" + '
  '0.010*"food" + 0.010*"service" + 0.009*"cabin" + 0.009*"good" + '
  '0.008*"fly"'),
 (2,
  '0.012*"crew" + 0.011*"experience" + 0.010*"one" + 0.008*"club" + '
  '0.008*"food" + 0.007*"new" + 0.006*"world" + 0.006*"lounge" + 0.006*"hour" '
  '+ 0.006*"time"'),
 (3,
  '0.029*"seat" + 0.012*"get" + 0.008*"crew" + 0.006*"passenger" + '
  '0.006*"time" + 0.006*"ask" + 0.006*"cabin" + 0.005*"say" + 0.005*"club" + '
  '0.005*"row"'),
 (4,
  '0.010*"lounge" + 0.009*"crew" + 0.009*"service" + 0.008*"good" + '
  '0.008*"club" + 0.008*"would" + 0.007*"delay" + 0.006*"late" + 0.006*"get" + '
  '0.006*"meal"'),
 (5,
  '0.036*"seat" + 0.008*"passenger" + 0.007*"get" + 0.006*"crew" + '
  '0.006*"attendant" + 0.005*"take" + 0.005*"aisle" + 0.005*"screen" + '
  '0.005*"cabin" + 0.005*"food"'),
 (6,
  '0.020*"seat" + 0.013*"food" + 0.012*"lounge" + 0.008*"fly" + 0.008*"london" '
  '+ 0.008*"average" + 0.006*"return" + 0.006*"year" + 0.005*"air" + '
  '0.005*"bad"'),
 (7,
  '0.020*"service" + 0.010*"customer" + 0.009*"london" + 0.009*"seat" + '
  '0.008*"crew" + 0.007*"pay" + 0.007*"return" + 0.006*"good" + 0.006*"offer" '
  '+ 0.006*"experience"'),
 (8,
  '0.039*"seat" + 0.016*"service" + 0.013*"get" + 0.012*"pay" + 0.011*"london" '
  '+ 0.009*"fly" + 0.008*"food" + 0.008*"would" + 0.007*"return" + '
  '0.007*"one"'),
 (9,
  '0.019*"seat" + 0.011*"food" + 0.008*"cabin" + 0.007*"heathrow" + '
  '0.007*"meal" + 0.007*"money" + 0.006*"london" + 0.006*"standard" + '
  '0.006*"cramp" + 0.006*"waste"'),
 (10,
  '0.042*"seat" + 0.020*"club" + 0.019*"good" + 0.014*"service" + 0.014*"food" '
  '+ 0.013*"cabin" + 0.011*"crew" + 0.009*"world" + 0.009*"europe" + '
  '0.008*"return"'),
 (11,
  '0.024*"good" + 0.018*"lounge" + 0.017*"crew" + 0.015*"food" + 0.014*"time" '
  '+ 0.013*"service" + 0.012*"seat" + 0.012*"board" + 0.012*"club" + '
  '0.012*"cabin"'),
 (12,
  '0.030*"seat" + 0.011*"get" + 0.011*"cabin" + 0.010*"club" + 0.010*"one" + '
  '0.009*"fly" + 0.008*"would" + 0.007*"service" + 0.006*"crew" + '
  '0.005*"come"'),
 (13,
  '0.015*"time" + 0.013*"crew" + 0.012*"service" + 0.009*"check" + '
  '0.008*"board" + 0.008*"staff" + 0.007*"one" + 0.006*"hour" + 0.006*"cabin" '
  '+ 0.006*"serve"'),
 (14,
  '0.020*"seat" + 0.016*"club" + 0.012*"food" + 0.011*"cabin" + 0.011*"world" '
  '+ 0.010*"time" + 0.009*"service" + 0.008*"get" + 0.008*"good" + '
  '0.008*"crew"'),
 (15,
  '0.014*"work" + 0.010*"london" + 0.007*"food" + 0.007*"husband" + '
  '0.006*"boeing" + 0.006*"fly" + 0.005*"old" + 0.005*"munich" + '
  '0.005*"boston" + 0.005*"mumbai"'),
 (16,
  '0.017*"one" + 0.012*"seat" + 0.011*"ask" + 0.010*"give" + 0.010*"club" + '
  '0.008*"tell" + 0.007*"service" + 0.007*"meal" + 0.006*"offer" + '
  '0.006*"day"'),
 (17,
  '0.013*"get" + 0.013*"service" + 0.012*"passenger" + 0.012*"fly" + '
  '0.010*"hour" + 0.009*"customer" + 0.008*"could" + 0.008*"time" + '
  '0.008*"club" + 0.008*"year"'),
 (18,
  '0.026*"seat" + 0.009*"service" + 0.008*"time" + 0.008*"lounge" + '
  '0.008*"food" + 0.008*"staff" + 0.007*"one" + 0.007*"poor" + 0.007*"cabin" + '
  '0.006*"passenger"'),
 (19,
  '0.013*"seat" + 0.012*"hour" + 0.010*"time" + 0.010*"fly" + 0.009*"london" + '
  '0.008*"delay" + 0.008*"heathrow" + 0.007*"take" + 0.007*"get" + '
  '0.007*"luggage"')]

Creating the LDA model for the "First Class" to identify top topics of interest

In [15]:
# LDA Model for First Class
topic_num = 20
word_num = 10

# Use the tokenized reviews in the CleanText2 column
tokenized_reviews_FC = first_class_df['CleanText2']

# Creating dictionary and document-term matrix
dictionary = gensim.corpora.Dictionary(tokenized_reviews_FC)
doc_term_matrix = [dictionary.doc2bow(doc) for doc in tokenized_reviews_FC]

# Creating the LDA model
Lda = gensim.models.ldamodel.LdaModel
ldamodel = Lda(doc_term_matrix, num_topics=topic_num, id2word=dictionary, passes=20)

# Printing the topics
pprint(ldamodel.print_topics(num_topics=topic_num, num_words=word_num))

[(0,
  '0.014*"great" + 0.013*"crew" + 0.011*"food" + 0.011*"staff" + 0.010*"good" '
  '+ 0.010*"service" + 0.009*"lounge" + 0.008*"return" + 0.008*"would" + '
  '0.008*"passenger"'),
 (1,
  '0.019*"crew" + 0.013*"good" + 0.011*"seat" + 0.010*"london" + 0.008*"cabin" '
  '+ 0.008*"get" + 0.008*"day" + 0.007*"excellent" + 0.007*"two" + '
  '0.006*"make"'),
 (2,
  '0.022*"seat" + 0.012*"good" + 0.012*"crew" + 0.012*"service" + '
  '0.011*"lounge" + 0.011*"well" + 0.010*"food" + 0.010*"experience" + '
  '0.008*"heathrow" + 0.008*"club"'),
 (3,
  '0.011*"good" + 0.011*"day" + 0.011*"case" + 0.008*"make" + 0.008*"usd" + '
  '0.007*"give" + 0.007*"show" + 0.007*"club" + 0.006*"dinner" + '
  '0.006*"selection"'),
 (4,
  '0.019*"good" + 0.015*"food" + 0.013*"seat" + 0.010*"london" + '
  '0.010*"heathrow" + 0.010*"return" + 0.010*"new" + 0.008*"club" + '
  '0.008*"service" + 0.007*"crew"'),
 (5,
  '0.022*"seat" + 0.014*"cabin" + 0.013*"good" + 0.009*"world" + 0.009*"crew" '
  '+ 0.008*"excellent" + 0.007*"quality" + 0.007*"club" + 0.007*"service" + '
  '0.007*"board"'),
 (6,
  '0.018*"crew" + 0.014*"cabin" + 0.012*"service" + 0.011*"board" + '
  '0.010*"passenger" + 0.010*"good" + 0.010*"lounge" + 0.009*"would" + '
  '0.009*"seat" + 0.008*"offer"'),
 (7,
  '0.015*"seat" + 0.014*"good" + 0.011*"service" + 0.011*"cabin" + '
  '0.011*"food" + 0.011*"time" + 0.009*"board" + 0.009*"one" + 0.008*"get" + '
  '0.008*"crew"'),
 (8,
  '0.012*"seat" + 0.007*"lounge" + 0.007*"concorde" + 0.007*"heathrow" + '
  '0.007*"staff" + 0.006*"cabin" + 0.006*"cost" + 0.006*"little" + '
  '0.006*"terminal" + 0.006*"seem"'),
 (9,
  '0.011*"take" + 0.010*"fly" + 0.009*"crew" + 0.009*"excellent" + '
  '0.009*"champagne" + 0.008*"still" + 0.008*"seat" + 0.007*"time" + '
  '0.007*"cabin" + 0.007*"nice"'),
 (10,
  '0.017*"service" + 0.013*"lounge" + 0.012*"cabin" + 0.012*"food" + '
  '0.011*"new" + 0.011*"fast" + 0.009*"crew" + 0.009*"london" + 0.009*"good" + '
  '0.008*"well"'),
 (11,
  '0.017*"food" + 0.016*"service" + 0.013*"seat" + 0.011*"menu" + 0.010*"new" '
  '+ 0.009*"crew" + 0.009*"fly" + 0.008*"cabin" + 0.007*"board" + 0.007*"say"'),
 (12,
  '0.015*"cabin" + 0.013*"food" + 0.013*"london" + 0.012*"heathrow" + '
  '0.012*"time" + 0.012*"crew" + 0.010*"service" + 0.010*"seat" + '
  '0.008*"experience" + 0.008*"old"'),
 (13,
  '0.013*"seat" + 0.011*"wife" + 0.009*"call" + 0.008*"service" + 0.008*"good" '
  '+ 0.008*"could" + 0.008*"phone" + 0.007*"help" + 0.007*"check" + '
  '0.007*"nice"'),
 (14,
  '0.011*"new" + 0.008*"seat" + 0.008*"get" + 0.008*"champagne" + '
  '0.008*"sleep" + 0.005*"dinner" + 0.005*"fine" + 0.005*"basic" + '
  '0.005*"lounge" + 0.005*"good"'),
 (15,
  '0.026*"cabin" + 0.021*"seat" + 0.014*"service" + 0.013*"good" + '
  '0.012*"food" + 0.009*"passenger" + 0.008*"board" + 0.008*"crew" + '
  '0.008*"product" + 0.008*"selection"'),
 (16,
  '0.018*"food" + 0.015*"cabin" + 0.013*"good" + 0.013*"seat" + '
  '0.009*"service" + 0.008*"crew" + 0.007*"singapore" + 0.007*"board" + '
  '0.007*"get" + 0.007*"standard"'),
 (17,
  '0.012*"hour" + 0.011*"bed" + 0.007*"nice" + 0.007*"one" + 0.007*"dont" + '
  '0.007*"best" + 0.007*"seat" + 0.006*"well" + 0.006*"offer" + '
  '0.006*"lounge"'),
 (18,
  '0.018*"seat" + 0.009*"toilet" + 0.008*"food" + 0.008*"fly" + 0.007*"one" + '
  '0.007*"really" + 0.007*"good" + 0.007*"back" + 0.007*"service" + '
  '0.007*"crew"'),
 (19,
  '0.017*"seat" + 0.015*"service" + 0.013*"staff" + 0.012*"food" + '
  '0.011*"lounge" + 0.009*"one" + 0.007*"good" + 0.007*"crew" + 0.007*"hour" + '
  '0.007*"passenger"')]

# 3b) Identifying top occurring trigrams for each Seat Type based on Topic Words identified from Topic Modelling

In [21]:
import pandas as pd
from collections import Counter
from nltk import trigrams

# Generating trigrams as tokenized words (trigrams were initially in object form)
def generate_trigrams(df, column_name):
    return df[column_name].apply(lambda tokens: list(trigrams(tokens)))

# Function to filter trigrams containing a specific word
def list_trigrams_containing_word(df, column, word):
    all_trigrams = []
    for sublist in df[column]:
        if isinstance(sublist, list):
            for trigram in sublist:
                if isinstance(trigram, tuple):
                    all_trigrams.append(trigram)
    
    # Filtering trigrams with specific topic word
    filtered_trigrams = [trigram for trigram in all_trigrams if word in trigram]
    
    return filtered_trigrams


# Function to get top 20 trigrams containing the specified word
def top_trigrams_with_word(df, column, word, top_n=20):
    trigrams_with_word = list_trigrams_containing_word(df, column, word)
    trigram_counts = Counter(trigrams_with_word)
    return trigram_counts.most_common(top_n)

# Function to print top trigrams
def print_top_trigrams(trigrams, seat_type, word):
    print(f"Top trigrams featuring '{word}' in reviews of {seat_type}:")
    for trigram, count in trigrams:
        print(f"{trigram}: {count}")

# Print trigrams for each seat type
economy_df['Trigrams'] = generate_trigrams(economy_df, 'CleanText2')
premium_economy_df['Trigrams'] = generate_trigrams(premium_economy_df, 'CleanText2')
business_class_df['Trigrams'] = generate_trigrams(business_class_df, 'CleanText2')
first_class_df['Trigrams'] = generate_trigrams(first_class_df, 'CleanText2')

In [25]:
# Set the commonly occurring topic word-of-interest
word = 'food' 

# Print top 20 trigrams with count that contain the frequently occurring topic word
economy_top_trigrams = top_trigrams_with_word(economy_df, 'Trigrams', word)
print_top_trigrams(economy_top_trigrams, "Economy Class", word)

premium_economy_top_trigrams = top_trigrams_with_word(premium_economy_df, 'Trigrams', word)
print_top_trigrams(premium_economy_top_trigrams, "Premium Economy", word)

business_class_top_trigrams = top_trigrams_with_word(business_class_df, 'Trigrams', word)
print_top_trigrams(business_class_top_trigrams, "Business Class", word)

first_class_top_trigrams = top_trigrams_with_word(first_class_df, 'Trigrams', word)
print_top_trigrams(first_class_top_trigrams, "First Class", word)

Top trigrams featuring 'food' in reviews of Economy Class:
('charge', 'food', 'drink'): 9
('complimentary', 'food', 'drink'): 7
('free', 'food', 'drink'): 7
('pay', 'food', 'drink'): 7
('food', 'drink', 'service'): 7
('food', 'pretty', 'good'): 7
('purchase', 'food', 'drink'): 5
('buy', 'food', 'drink'): 5
('food', 'drink', 'serve'): 5
('food', 'drink', 'offer'): 4
('food', 'beverage', 'board'): 4
('entertainment', 'good', 'food'): 4
('cabin', 'crew', 'food'): 4
('food', 'good', 'service'): 4
('food', 'drink', 'short'): 4
('food', 'drink', 'good'): 3
('crew', 'friendly', 'food'): 3
('sell', 'food', 'drink'): 3
('food', 'long', 'haul'): 3
('start', 'charge', 'food'): 3
Top trigrams featuring 'food' in reviews of Premium Economy:
('service', 'good', 'food'): 2
('crew', 'excellent', 'food'): 2
('food', 'inflight', 'entertainment'): 2
('entertainment', 'system', 'food'): 2
('leg', 'room', 'food'): 2
('food', 'wine', 'good'): 2
('take', 'food', 'drink'): 2
('food', 'choice', 'run'): 2
('food', 'quite', 'good'): 2
('great', 'food', 'awful'): 2
('food', 'drink', 'service'): 2
('entertainment', 'good', 'food'): 2
('good', 'food', 'good'): 2
('cabin', 'staff', 'food'): 2
('staff', 'food', 'okay'): 2
('food', 'okay', 'memory'): 2
('could', 'eat', 'food'): 2
('food', 'club', 'world'): 2
('staff', 'great', 'food'): 2
('comfort', 'special', 'food'): 2
Top trigrams featuring 'food' in reviews of Business Class:
('service', 'good', 'food'): 10
('food', 'drink', 'good'): 9
('good', 'selection', 'food'): 7
('selection', 'food', 'drink'): 6
('drink', 'food', 'service'): 5
('club', 'world', 'food'): 5
('food', 'drink', 'service'): 5
('good', 'choice', 'food'): 5
('crew', 'excellent', 'food'): 4
('seat', 'comfortable', 'food'): 4
('food', 'good', 'wine'): 4
('good', 'food', 'drink'): 4
('poor', 'quality', 'food'): 4
('food', 'quality', 'good'): 4
('good', 'quality', 'food'): 3
('hot', 'food', 'available'): 3
('food', 'quite', 'good'): 3
('crew', 'good', 'food'): 3
('good', 'food', 'wine'): 3
('leave', 'time', 'food'): 3
Top trigrams featuring 'food' in reviews of First Class:
('good', 'food', 'drink'): 3
('food', 'well', 'present'): 3
('food', 'drink', 'choice'): 2
('food', 'tasty', 'well'): 2
('well', 'cook', 'food'): 2
('food', 'drink', 'service'): 2
('service', 'excellent', 'food'): 2
('crew', 'superb', 'food'): 1
('superb', 'food', 'beverage'): 1
('food', 'beverage', 'find'): 1
('friendly', 'respectful', 'food'): 1
('respectful', 'food', 'beverage'): 1
('food', 'beverage', 'offering'): 1
('wine', 'etc', 'food'): 1
('etc', 'food', 'bit'): 1
('food', 'bit', 'overcooked'): 1
('wine', 'menu', 'food'): 1
('menu', 'food', 'awful'): 1
('food', 'awful', 'steak'): 1
('lounge', 'good', 'food'): 1